@font-face {
  font-family: slick;
  src: url("../../assets/fonts/slick/slick.ttf"), url("../../assets/fonts/slick/slick.eot"), url("../../assets/fonts/slick/slick.woff");
}

@font-face {
  font-family: diodrum;
  src: url("../../assets/fonts/DiodrumArabic-Bold.ttf");
  src: url("../../assets/fonts/DiodrumArabic-Extralight.ttf");
  src: url("../../assets/fonts/DiodrumArabic-Light.ttf");
  src: url("../../assets/fonts/DiodrumArabic-Medium.ttf");
  src: url("../../assets/fonts/DiodrumArabic-Regular.ttf");
  src: url("../../assets/fonts/DiodrumArabic-Regular.ttf");
}

@font-face {
  font-family: "megatheme";
  src: url("../../assets/fonts/megatheme.eot");
  src: url("../../assets/fonts/megatheme.eot") format("embedded-opentype"), url("../../assets/fonts/megatheme.ttf") format("truetype"), url("../../assets/fonts/megatheme.woff") format("woff"), url("../../assets/fonts/megatheme.svg") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  direction: rtl;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style-type: none;
}

main {
  min-height: 100vh;
  background-color: #fafafa;
  font-family: iransans;
  overflow-x: hidden;
  position: relative;
}

main > .beforemain {
  width: 0;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #0000005b;
  z-index: 99;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.nav-top {
  background-color: #d3a354;
}

.nav-top div {
  height: 100%;
}

.nav-top div > h4 > a {
  font-weight: bolder;
  color: #fff;
}

.nav-top div .countdown {
  direction: ltr;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: white;
  font-weight: bold;
}

.nav-top div .countdown > span {
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-top div .countdown .number-count {
  background-color: #3a3a3aa7;
  padding: 8px;
  border-radius: 4px;
  width: 30px;
  height: 30px;
}

.nav-top div .countdown > div {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav-top div .countdown > div > .text {
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.head-top {
  background-color: #fafafa;
}

.head-top .header {
  background: #fff;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.233);
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.233);
}

.head-top .header > div {
  height: 100%;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-top .header > div .ham-icon-menu {
  font-size: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #666666;
}

.head-top .header > div > .menu-mobile {
  width: 70%;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  -webkit-transform: translateX(101%);
          transform: translateX(101%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-color: #00a1c1;
  z-index: 100;
}

.head-top .header > div > .menu-mobile .close-btn {
  height: 90px;
}

.head-top .header > div > .menu-mobile .close-btn > img {
  width: 90px;
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.head-top .header > div > .menu-mobile .close-btn > i {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.head-top .header > div > .menu-mobile > ul li {
  height: 55px;
  padding: 0;
}

.head-top .header > div > .menu-mobile > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  color: #fff;
  font-weight: 400;
  border-bottom: 1px solid #d2d2d2;
}

.head-top .header > div > .menu-mobile > ul li > a:hover {
  color: #c5c3c3;
}

.head-top .header > div .active-menu-mobile {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.head-top .header > div > .logo-header {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-top .header > div > .logo-header a > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.head-top .header > div > .menu-desktop {
  height: 100%;
}

.head-top .header > div > .menu-desktop > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 100%;
}

.head-top .header > div > .menu-desktop > ul li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.head-top .header > div > .menu-desktop > ul li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  color: #666666;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  font-weight: 500;
  position: relative;
}

.head-top .header > div > .menu-desktop > ul li > a::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d3a354;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.head-top .header > div > .menu-desktop > ul li > a:hover {
  color: #3a3a3a;
}

.head-top .header > div > .menu-desktop > ul li > a:hover::before {
  left: 0;
  width: 100%;
}

.head-top .header > div .register-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.head-top .header > div .register-header > .register-header-btn {
  background-color: #003383;
  -webkit-box-shadow: inset 0 0 0 0 transparent;
          box-shadow: inset 0 0 0 0 transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 6px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.head-top .header > div .register-header > .register-header-btn a {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  overflow: hidden;
}

.head-top .header > div .register-header > .register-header-btn a span {
  color: #fff;
}

.head-top .header > div .register-header > .register-header-btn:hover {
  -webkit-box-shadow: 0 50px 0 0 #00afcb inset, 0 -50px 0 0 #00afcb inset;
          box-shadow: 0 50px 0 0 #00afcb inset, 0 -50px 0 0 #00afcb inset;
}

.head-top .header > div .register-header > .search-box-header > .open-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  color: #666666;
  cursor: pointer;
}

.head-top .header > div .register-header > .search-box-header .search-input {
  display: none;
}

.head-top .header > div .register-header > .search-box-header .search-input input {
  position: absolute;
  right: 0;
  top: 0;
  width: 95%;
  z-index: 5;
  height: 100%;
  outline: none;
  border-radius: 8px;
  border: 2px solid #d3a354;
  padding: 0 20px;
}

.head-top .header > div .register-header > .search-box-header .search-input > .close-search {
  z-index: 10;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 10%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #666666;
}

.head-top .path-website {
  height: 50px;
}

.cast-section-title h3 {
  font-family: diodrum;
  font-weight: 700;
  color: #00afcb;
}

.cast-slider {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cast-slider .cast-slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px !important;
}

.cast-slider .cast-slider-item img {
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.cast-slider .cast-slider-item figcaption {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 15px;
  color: #6a6a6a;
  font-weight: 500;
  font-size: 0.9rem;
}

.cast-slider .slick-arrow::before {
  color: #00afcb;
}

.published-cast .published-cast-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
}

.published-cast .published-cast-title h5 {
  color: #3a3a3a;
  font-weight: 600;
  font-family: diodrum;
}

.published-cast .published-cast-title span {
  height: 1px;
  background-color: #00a1c1;
}

.published-cast .loicast-items .loicast-item {
  padding: 20px !important;
  margin-bottom: 20px !important;
  min-height: 100px;
  background-color: rgba(255, 255, 255, 0.868);
  border-radius: 8px;
  -webkit-box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.148);
          box-shadow: 1px 2px 5px 0 rgba(0, 0, 0, 0.148);
}

.published-cast .loicast-items figure a {
  height: 100%;
  width: 100%;
}

.published-cast .loicast-items figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.published-cast .loicast-items .podcast-title {
  font-family: diodrum;
  font-weight: 600;
  color: #003383;
  min-height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.published-cast .loicast-items .time-pubilshed {
  min-height: 45px;
  color: #666666;
  font-size: 0.9rem;
}

.published-cast .loicast-items .description-cast-desktop {
  line-height: 1.8rem;
  font-size: 0.95rem;
  color: #6a6a6a;
}

.published-cast .loicast-items .description-cast-mobile {
  font-size: 0.8rem;
  color: #6a6a6a;
}

.published-cast .loicast-items .footer-cast {
  min-height: 45px;
}

.published-cast .loicast-items .footer-cast .seen-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.published-cast .loicast-items .footer-cast .seen-section > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #656464;
  font-size: 0.9rem;
}

.published-cast .loicast-items .footer-cast .seen-section > span:nth-of-type(2) {
  font-size: 0.8rem;
}

.published-cast .loicast-items .footer-cast .listen-section {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.published-cast .loicast-items .footer-cast .listen-section > * {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #656464;
  font-size: 0.9rem;
}

.published-cast .loicast-items .footer-cast .listen-section i {
  font-size: 1.1rem;
}

.published-cast .loicast-items .footer-cast .listen-section > span:nth-of-type(2) {
  font-size: 0.8rem;
}

.published-cast .loicast-items .footer-cast .link-listen-podcast a {
  border-radius: 25px;
  width: 200px;
  height: 45px;
  border: 2px solid #e6683c;
  color: #e6683c;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-box-shadow: 1px 1px 5px 0 #f1916e;
          box-shadow: 1px 1px 5px 0 #f1916e;
}

.published-cast .loicast-items .footer-cast .link-listen-podcast a i {
  color: #e6683c;
  font-size: 1.5rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.published-cast .loicast-items .footer-cast .link-listen-podcast a:hover {
  background-color: #e6683c;
  color: #fff;
  border: 1px solid #fff;
}

.published-cast .loicast-items .footer-cast .link-listen-podcast a:hover i {
  color: #fff;
}

.published-cast .loicast-items .cast-play-link {
  width: 180px;
  height: 45px;
  position: absolute;
  left: 0;
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f09433;
  color: #e6683c;
}

.published-cast .loicast-items .cast-play-link i {
  color: #fff;
  padding: 5px;
  border-radius: 50%;
  background-color: #f09433;
}

.published-cast .loicast-items .count-seen span {
  font-size: 0.8rem;
  margin-right: 10px;
}

.published-cast .loicast-items .count-listen span {
  font-size: 0.8rem;
  margin-right: 10px;
}

.published-cast .loicast-items .time-published-mobile span {
  font-size: 0.9rem;
  color: #656464;
}

.published-cast .pagination-podcast {
  min-height: 40px;
}

.published-cast .pagination-podcast > * {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: .75rem;
}

.published-cast .pagination-podcast .previous-page {
  width: 55px;
}

.published-cast .pagination-podcast .previous-page a {
  border-radius: 25px;
  border: 2px solid #00afcb;
  color: #656464;
  -webkit-transition: .3s;
  transition: .3s;
}

.published-cast .pagination-podcast .previous-page a:hover {
  background-color: #00afcb;
  color: white;
}

.published-cast .pagination-podcast .next-page {
  width: 55px;
}

.published-cast .pagination-podcast .next-page a {
  border-radius: 25px;
  border: 2px solid #00afcb;
  color: #656464;
  -webkit-transition: .3s;
  transition: .3s;
}

.published-cast .pagination-podcast .next-page a:hover {
  background-color: #00afcb;
  color: white;
}

.published-cast .pagination-podcast .page-number a {
  width: 35px;
  border-radius: 8px;
  border: 2px solid #00afcb;
  margin: 2px !important;
  color: #656464;
  -webkit-transition: .3s;
  transition: .3s;
}

.published-cast .pagination-podcast .page-number a.active-page {
  color: white;
  background-color: #00afcb;
}

.published-cast .pagination-podcast .page-number a:hover {
  color: #fff;
  background-color: #39c6dc;
  border: 2px solid #fff;
}

.loiservice-section .loiservice-section-title {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loiservice-section .loiservice-section-title h5 {
  color: #3a3a3a;
  font-weight: normal;
  font-family: diodrum;
}

.loiservice-section .loiservice-section-title .line-title {
  height: 1px;
  background-color: #00a1c1;
}

.loiservice-section .loiservice-item {
  min-height: 100px;
  margin-top: 20px !important;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.152);
}

.loiservice-section .loiservice-item img {
  height: 55px;
  width: 75px;
}

.loiservice-section .loiservice-item figcaption {
  min-height: 75px;
}

.loiservice-section .loiservice-item figcaption h3 {
  font-size: 1.2rem;
  color: #3a3a3a;
  font-family: diodrum;
  font-weight: 600;
}

.loiservice-section .loiservice-item figcaption p {
  font-size: 0.85rem;
  color: #3a3a3a;
}

.footer {
  background-color: #003383;
}

.footer .about-us .logo-footer img {
  width: 100%;
}

.footer .about-us .text-about {
  color: #fff;
  line-height: 2.1rem;
}

.footer .line-footer {
  width: 94%;
  height: 1px;
}

.footer a {
  color: white;
  font-size: 1.1rem;
}

.footer .links-footer {
  color: #fff;
}

.footer .links-footer .link-title {
  font-size: 1.2rem;
  font-weight: 400;
  cursor: default;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .links-footer .link-title:hover {
  color: #00a1c1;
}

.footer .links-footer li > a {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.footer .links-footer li > a::after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  top: 50%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -5px;
  height: 80%;
  width: 0;
  content: "";
  border-radius: 2px;
  background-color: #00a1c1;
}

.footer .links-footer li > a:hover::after {
  width: 3px;
  left: 115%;
}

.footer .links-footer .toggle-icon {
  cursor: pointer;
  padding: 0;
  width: 18px;
  height: 18px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  font-size: 0.7rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #000;
}

.footer .links-footer .peyvandha .peyvandha-links > li, .footer .links-footer .questions-1 .peyvandha-links > li, .footer .links-footer .questions-2 .peyvandha-links > li, .footer .links-footer .peyvandha .questions-1 > * > li, .footer .links-footer .questions-1 > * > li, .footer .links-footer .questions-2 .questions-1 > * > li, .footer .links-footer .peyvandha .questions-2 > * > li, .footer .links-footer .questions-1 .questions-2 > * > li, .footer .links-footer .questions-2 > * > li {
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .links-footer .peyvandha .peyvandha-links a, .footer .links-footer .questions-1 .peyvandha-links a, .footer .links-footer .questions-2 .peyvandha-links a, .footer .links-footer .peyvandha .questions-1 > * a, .footer .links-footer .questions-1 > * a, .footer .links-footer .questions-2 .questions-1 > * a, .footer .links-footer .peyvandha .questions-2 > * a, .footer .links-footer .questions-1 .questions-2 > * a, .footer .links-footer .questions-2 > * a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .links-footer .tamas-ba-ma .address-footer {
  font-size: 1.2rem;
}

.footer .links-footer .tamas-ba-ma .social-footer {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer .links-footer .tamas-ba-ma .social-footer .phone {
  font-size: 1.4rem;
  font-weight: 500;
  width: 80%;
  background-color: transparent;
}

.footer .links-footer .tamas-ba-ma .social-footer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border-radius: 0 10px 0 0;
  background-color: #00a1c1;
  overflow: hidden;
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover > * {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover > .bi-telephone {
  background-color: #59ea59;
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover .bi-telegram {
  background-color: #229ed9;
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover .bi-youtube {
  background-color: #ff0000;
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover .bi-linkedin {
  background-color: #0077b5;
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover .bi-instagram {
  background: #f09433;
  background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.footer .links-footer .tamas-ba-ma .social-footer a:hover .m-icon-aparat {
  background-color: #ea1d5d;
}

.footer .links-footer .tamas-ba-ma .social-footer a i {
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .links-footer .tamas-ba-ma .social-footer a .m-icon-aparat {
  font-family: "megatheme";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.footer .links-footer .tamas-ba-ma .social-footer a .m-icon-aparat:before {
  content: "\e919";
}

.footer .copy-right {
  font-weight: bolder;
  background-color: #082957;
}
/*# sourceMappingURL=style.css.map */